#compilearea {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 70px;
	margin-top: 40px;
}

table {
	color: #EEEEEE;
	background-color: #333333;
	padding: 10px;
	border-collapse: collapse;
	width: 40%;
	overflow-y: auto;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

table thead {
	background-color: #444444;
}

th, td {
	padding: 6px 12px;
	text-align: left;
	border-bottom: 1px solid #555555;
}

tr:hover {
	background-color: #444444;
}

#controlbar {
	width: 100vw;
	height: 50px;
	background: #303030;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	border-top: 2px solid #404040;
}

#controlbar input[type="image"] {
	height: 30px;
	padding: 10px;
	cursor: pointer;
	transition: 500ms ease;
}

#controlbar input[type="image"]:hover {
	transform: scale(1.1);
	filter: invert(0.4);
}

@media (max-width: 1000px) {
	#codeentry {
		width: 80%;
		height: 400px;
	}

	#outputtable {
		width: calc(80% + 24px);
	}

	#compilearea {
		margin-top: 30px;
	}	
}

@media (max-width: 576px) {
	#codeentry {
		width: 100%;
		height: 300px;
	}

	#outputtable {
		width: 100%;
	}

	th, td {
		padding: 4px, 6px;
	}

	#compilearea {
		margin-top: 20px;
	}
}